* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.main {
  padding: 36px 40px;
  @media (max-width: 1439px) {
    padding: 24px;
  }
  @media (max-width: 767px) {
    padding: 14px 24px;
  }
}

.section-demo {
  opacity: 1;
  background-color: rgba(240, 244, 252, 1);
  display: flex;
  justify-content: space-between;
  height: 455px;
  @media (max-width: 1439px) {
    flex-direction: column;
    justify-content: center;
    height: 586px;
  }
  @media (max-width: 767px) {
    height: 482px;
  }
}

.section-demo_opacity {
  opacity: 0.2;
  background-color: rgba(240, 244, 252, 1);
  display: flex;
  justify-content: space-between;
  height: 455px;
  @media (max-width: 1439px) {
    flex-direction: column;
    justify-content: center;
    height: 586px;
  }
  @media (max-width: 767px) {
    height: 482px;
  }
}

.block-first {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 72px;
  @media (max-width: 1919px) {
    padding: 24px;
    justify-content: center;
  }
  @media (max-width: 1439px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    padding: 24px 24px 18px 24px;
  }
}

.wrapper {
  width: 511px;
  @media (max-width: 1439px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    width: fit-content;

  }

  &__title {
    color: rgba(31, 66, 132, 1);
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 18px;

    @media (max-width: 1919px) {
      font-size: 26px;
      line-height: 41.6px;
    }

    @media (max-width: 1439px) {
      font-size: 20px;
      line-height: 32px;
    }
    @media (max-width: 767px) {
      font-size: 17px;
      line-height: 27.2px;
      margin-bottom: 14px;
    }
  }

  &__description {
    color: rgba(114, 114, 114, 1);
    font-size: 17px;
    line-height: 27.2px;
    margin-bottom: 36px;

    @media (max-width: 1439px) {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      font-size: 13px;
      line-height: 20.8px;
      margin-bottom: 18px;
    }
  }
}

.button {
  appearance: none;
  align-items: center;
  background-color: rgba(31, 66, 132, 1);
  border: none;
  border-radius: 60px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 68px;
  justify-content: space-between;
  line-height: 28.8px;
  outline: none;
  padding: 12px 12px 12px 24px;
  width: 341px;

  @media (max-width: 1439px) {
    font-size: 14px;
    width: 261px;
    height: 56px;
    gap: 19px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../images/arrow-up-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    @media (max-width: 1439px) {
      width: 36px;
      height: 36px;
    }
  }
}

.block-second {
  width: 50%;
  background-image: url("../images/imageComputer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1439px) {
    height: 100vh;
    width: 100%;
  }
}

.modal {
  display: none;
}

.modal_active {
  display: flex;
  background-color: rgba(240, 244, 252, 1);
  width: 500px;
  padding: 24px;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 515px) {
    width: 315px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32.78px;
    color: rgba(50, 50, 50, 1);
    margin-bottom: 18px;
  }
}

.wrapper-close {
  display: flex;
  justify-content: flex-end;
  &__close {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../images/x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border: none;
    margin-bottom: 4px;
  }
}

.modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__inpyt {
    background-color: rgba(215, 226, 246, 1);
    height: 73px;
    border-radius: 10px;
    border: none;
    padding: 0 24px;
    &:first-of-type {
      margin-bottom: 4px;
    }
    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &__link {
    color: rgba(36, 76, 152, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 36px;
    line-height: 27.32px;
  }

  &__sign-in {
    background-color: rgba(36, 76, 152, 1);
    height: 65px;
    padding: 18px 12px;
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    cursor: pointer;
    margin-bottom: 4px;
  }

  &__sign-up {
    background-color: transparent;
    height: 65px;
    padding: 18px 12px;
    border: 1px solid rgba(36, 76, 152, 1);
    border-radius: 4px;
    color: rgba(36, 76, 152, 1);
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    cursor: pointer;
    margin-bottom: 4px;
  }
}

.wrapper-checkbox {
  cursor: pointer;
  margin-bottom: 24px;

  &__checkbox {
    appearance: none;
    height: 0;
    opacity: 0;
    width: 0;
    outline: none;

    &:checked + .wrapper-checkbox__checkbox-custom::after {
      content: "\2713";
      color: green;
      display: block;
      left: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__checkbox-custom {
    color: rgba(50, 50, 50, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    padding-left: 38px;
    position: relative;

    &::before {
      content: "";
      background-color: transparent;
      border: 2px solid rgba(50, 50, 50, 1);
      border-radius: 2px;
      display: block;
      height: 20px;
      left: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }
  }
}
